table {
    width: 100%;
}

th {
    font-size: 20px;
    font-weight: bold;
    background-color: #3F51B5;
    color: white;
}

td {
    font-size: 16px;
}

.details > i {
    color: #3F51B5;
    font-size: 30px;
}